# Ignore Python cache files
**/__pycache__/
**/*.pyc
**/*.pyo

# Ignore legacy folder except required files
legacy/

# Ignore Docker-related files (uncomment if not needed)
# Dockerfile
# docker-compose.yml

# Ignore version control folders
.git
.gitignore

# Ignore environment and dependency files
*.env
*.venv
*.virtualenv

# Ignore logs and temporary files
*.log
*.tmp
*.bak
*.swp

# Ignore IDE and editor specific files
*.idea/
.vscode/

# Ignore build-related artifacts
build/
dist/
*.egg-info/
*.eggs/

# Ignore any other unnecessary files
example.py
